/* Promotional email img links
https://i.postimg.cc/6QbJc0VK/customer-care-link.jpg
https://i.postimg.cc/63DsJp11/fb-logo.png
https://i.postimg.cc/50HcRCpC/footer-1.png
https://i.postimg.cc/kG80nP0M/footer-2.png
https://i.postimg.cc/YqBcdjFv/footer-3.png
https://i.postimg.cc/wxm85D1K/footer-4.png
https://i.postimg.cc/GhFWVrPq/footer-break.png
https://i.postimg.cc/x19wS7tY/ig-logo.png
https://i.postimg.cc/2STPjwKW/love-break.png
https://i.postimg.cc/ZqRXWdGM/love-it.jpg
https://i.postimg.cc/PJG7VFPg/main-lotion.jpg
https://i.postimg.cc/1zj2wzP5/offers-body.jpg
https://i.postimg.cc/hjQwrqP8/offers-candles.jpg
https://i.postimg.cc/90Gn6t9r/offers-men.jpg
https://i.postimg.cc/KcLw3FWx/offers-soap.jpg
https://i.postimg.cc/yYH5Ftq9/offers-wall.jpg
https://i.postimg.cc/BQBzNpsz/offers-wellness.jpg
https://i.postimg.cc/8zk0Yvzz/pinterest-logo.png
https://i.postimg.cc/dVWxc0hm/private-policy-link.jpg
https://i.postimg.cc/VNdHfcMy/shop-button.png
https://i.postimg.cc/gJhShqNN/text-link.png
https://i.postimg.cc/Bvk7twcj/tiktok-logo.png
https://i.postimg.cc/Vvc7Wrh1/top-offers.jpg
https://i.postimg.cc/RhQgsCrt/twitter-logo.png
https://i.postimg.cc/bNLRfGsC/header-logo.jpg
https://i.postimg.cc/Hkx9YpMp/header-points.png
https://i.postimg.cc/Gm5VrgH5/limited-time.png
https://i.postimg.cc/qvb1f11Z/limited-time-head.png
https://i.postimg.cc/c1FgBPCj/limited-time-head-pink.png
https://i.postimg.cc/9XNYLzgG/buy-link.png
https://i.postimg.cc/BQrcGk0b/visit-us-bottom.png
https://i.postimg.cc/J4DcvmSS/visit-us-top.png
https://i.postimg.cc/B63mGvdm/unsubscribe-link.jpg
https://i.postimg.cc/dVFyjSTT/youtube-logo.png



gif links
https://i.postimg.cc/BZMDgPkg/main-candles.gif
https://i.postimg.cc/5NyzkNMM/main-hair.gif 
*/